/************************************************************************
 *
 * Reset
 *
************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
a:not([class]) {
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
em {
  font-style: normal;
}
summary{
  outline: none;
}

/************************************************************************
 *
 * Base
 *
************************************************************************/
:root {
  --base-width: 375; /* 基準幅 */
  --max-width: 640; /* 最大幅 */
  --base-font-size: 10; /* 基準フォントサイズ (10px) */
  /* 最大横幅サイズ時の最大フォントサイズ */
  --max-font-size: calc((var(--base-font-size) / var(--base-width)) * var(--max-width) * 1px);
}

html {
  /** 以下指定により「1rem = 横幅が --base-width 時の 10px」となる */
  font-size: min(calc((var(--base-font-size) / var(--base-width)) * 100vw), var(--max-font-size));
}

body {
	margin: 0 auto;
  background-color: #eee;
}

main {
	width: 100%;
	max-width: 640px;
	background-color: #fff;
	margin: 0 auto;
}



/************************************************************************
 *
 * module
 *
************************************************************************/

h1{
  font-size: 2rem;
  text-align: center;
  background-color: #ddd;
  padding: 1rem;
  width: 90%;
  margin: 0 auto 1rem;
}
.clinic-demo1,
.clinic-demo2{
  padding: 0 0 5rem;
}

/* タイトルのスタイル変更 */
.clinic__title--main{
  color: #000;
}

.clinic__title--sub1{
  color: #000;
}

.clinic__title--sub2{
  color: #000;
}
